* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  .container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5 ease;
    background-color: #ffac00;
    /* background-color: rgb(255, 255, 255); */
  }
  .joke-box {
    transition: all 0.5s ease;
    width: 90vw;
    display: flex;
    flex-direction: column;
    padding: 40px 40px;
    /* background-color: #ffac00; */
    /* background-color: white; */
    border-radius: 10px;
    color: rgb(53, 61, 93);
    box-shadow: 0px 0px 100px #c98601;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.171);
    /* box-shadow: 0px 0px 100px rgb(218, 218, 218); */
  }
  @font-face {
    font-family: "SFProDisplayBold";
    src: url("FontsFree-Net-SFProDisplay-Black");
  }
  @font-face {
    font-family: "SFProDisplayLight";
    src: url("FontsFree-Net-SFProDisplay-Light.ttf");
  }

  
  #title{
    font-family: "SFProDisplayLight";
    transition: all 0.5s ease;
    color: rgb(0, 0, 0);
    font-size: 16.5px;
  } 
  
  #body{
    font-family: "SFProDisplayLight";
    transition: all 0.5s ease;
    color: rgb(0, 0, 0);
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #token{
    display: none;
    transition: all 0.5s ease;
    color: white;
    font-size: 11px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
    height: 40px;
    line-height: 40px;
    border-radius: 26px;
    font-family: Arial, Helvetica, sans-serif ;
    letter-spacing: 0.1rem;
    background: #c5183b;
    /* text-transform: uppercase; */
  }
  .token-visible #token{
    display:block;
  }
  .joke {
    text-align: center;
    letter-spacing: 0.05rem;
    margin: 40px;
  }
  .joke h4 {
    margin-bottom: 20px;
    font-weight: 100;
  }
  .joke-text {
    padding: 10px;
    font-size: 1.5rem;
  }
  .buttons {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  button a {
    text-decoration: none;
    transition: 0.3s ease;
    color: rgb(0, 0, 0);
    font-style: normal;
  }
  a{
    display:block;
  }
  .share .btn{
    display: none;
  }
  .new_joke .btn{
    display: none;
  }
  #startbutton{
    box-shadow: 0px 8px 15px rgb(0, 0, 0, 0.07);
    height: 40px;
  }

  .start p{
    font-family: Arial, Helvetica, sans-serif;
  }
  .rocketimage{
    display: none;
    width: 14px;
    margin-left: auto;
    margin-right: auto;
  }
  .start .btn:hover{
    background-color: rgb(231, 15, 58);
    /* background-color: #265077; */
    transform: translateY(-4px);
    transition: all 0.3s ease;
    color: white;
  } 
  .dark .start .btn{
    box-shadow: 0px 0px 20px rgb(255, 0, 51);
    transition: all 0.2s ease;
    color: white;
  }
  .start .btn:hover .rocketimage{
    /* transition: all 0.3s ease; */
    display:block;
  }
  
  /* .start .btn:hover #rocket{
    transition: all 0.3s ease;
    display:block;
    font-size: 20px;
  } */  
  
  .start .btn:hover .starttext{
    display:none;
  }
  
  .started .start .btn{
    display:none;
  }
  
  .started .share .btn{
    display:block;
  }
  .started .new_joke .btn{
    display:block;
  }
  
  .btn {
    width: 120px;
    padding: 15px 10px 15px 10px;
    border-radius: 26px;
    letter-spacing: 0.1rem;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: all 0.3s ease;
    border-style: none;
    margin-bottom: 10px;
  }
  .jump-button{
    display: none;
  }
  .started .jump-button{
    display: block;
  }
  .jump{
    box-sizing: border-box;
    width: 120px;
    height: 42px;
    text-align: center;
    border-radius: 25px;
    border-style: none;
    color: black;
  }
  .jump-button{
    border-radius: 25px;
    margin-right: auto;
    margin-left: auto;
  }
  #jump{
    padding: 0px;
    box-shadow: 0px 8px 15px rgb(0, 0, 0, 0.07);
  }
  #startbutton:hover{
    box-shadow: 0px 10px 20px rgb(220, 20, 60, 0.2);
  }
  .dark #startbutton:hover{
    box-shadow: 0px 0px 20px rgba(252, 13, 0, 0.486);
  }
  .plusone{
    display: none;
  }
  #new-joke{
    box-shadow: 0px 8px 15px rgb(0, 0, 0, 0.07);
  }
  #new-joke:hover{
    background-color: rgb(255, 246, 125);
    /* background-color: rgb(248, 232, 0); */
    box-shadow: 0px 15px 20px rgb(255, 246, 125, 0.2);
    transform: translateY(-4px);
  }
  #new-joke:hover .next{
    display: none;
  }
  #new-joke:hover .plusone{
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    font-size: 11px;
  }
  .share .btn {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 15px rgb(0, 0, 0, 0.07);
  }
  .share .btn:hover{
    background-color: rgb(193, 233, 252);
    box-shadow: 0px 15px 20px rgb(193, 233, 252, 0.4);
    transform: translateY(-4px);
  }
  .share .btn:hover .tweet{
    display: none;
  }
  .hashtag{
    display:none;
  }
  .share .btn:hover .hashtag{
    display:block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
  }
  p{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2.5px;
  }
  .tweet, .next{
    transition: 0.3s ease;
    color: rgb(0, 0, 0);
  }
  
  .top-buttons{
    display: flex;
    justify-content: space-between;
  }
 .status-button{
  display: none;
  width: 100px;
  height: 40px;
  padding: 15px 10px 15px 10px;
  border-radius: 26px;
  letter-spacing: 0.1rem;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  transition: all 0.4s ease;
  color: rgb(0, 0, 0);
  border-style: none;
  box-shadow: 0px 8px 15px rgb(0, 0, 0, 0.05);
 }
.started .status-button{
  display: block;
}
 .yes .status-button{
   background-color: rgb(11, 187, 5);
 }
 .maybe .status-button{
   background-color: #ffac00;
   box-shadow: 0px 8px 20px rgb(0, 0, 0, 0.07);
  }
  .no .status-button{
    background-color: #c5183b;
  }
  .top .status-button{
    background-color: rgb(17, 51, 122);
    color: white;
  }
  .win .status-button{
    background-color: black;
    color: white;
    box-shadow: 0px 0px 50px rgba(218, 165, 32, 0.521);
  }
  /*DARK MODE*/
  
  .darkmode{
    margin-right: 0px;
    margin-left: auto;
    width: 100px;
    height: 40px;
    padding: 15px 10px 15px 10px;
    border-radius: 26px;
    letter-spacing: 0.1rem;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    transition: all 0.4s ease;
    color: rgb(0, 0, 0);
    border-style: none;
    box-shadow: 0px 8px 15px rgb(0, 0, 0, 0.05);
  }

  .dark .status-button{
    color: white;
  }
  .darkmode:hover{
    transition: all 0.4s ease;
    background-color: rgb(41, 41, 41);
    color: white;
  }
  .dark .joke-box{
    transition: all 0.5s ease;
    background-color: rgb(19, 19, 19);
    color: #e6e6e6;
    box-shadow: 0px 0px 100px rgb(0, 0, 0, 0.45);
  }
  .dark #title{
    transition: all 0.5s ease;
    color: rgb(243, 243, 243);
  }
  .dark #body{
    transition: all 0.5s ease;
    color:rgb(243, 243, 243);
  }
  .dark .btn{
    background-color: rgb(41, 41, 41);
  }
  .dark .jump{
    background-color: rgb(41, 41, 41);
    color: white;
    transition: all 0.3s ease;
  }
  .dark .jump:hover{
    background-color: #c5183b;
  }
  .dark .next{
    transition: 0.3s ease;
    color: white;
  }
  .dark .tweet{
    transition: 0.3s ease;
    color: white;
  }
  .dark .share .btn:hover{
    background-color: rgb(193, 233, 252);
    box-shadow: 0px 0px 20px rgb(193, 233, 252, 0.3);
  }
  .dark #new-joke:hover{
    background-color: rgb(255, 246, 125);
    box-shadow: 0px 0px 20px rgb(193, 233, 252, 0.3);
  }
  .dark .darkmode{
    transition: all 0.5s ease;
    background-color: rgb(41, 41, 41);
  }
  .dark .darkmode:hover{
    transition: all 0.4s ease;
    background-color: white;
  }
  .sun{
    width:12px;
    margin-left: auto;
    margin-right: auto;
  }
  .moon{
    display:none;
    width: 12px;
    margin-left: auto;
    margin-right: auto;
  } 
  .dark .moon{
    display:block;
    transition: all 0.4s ease;
  }
  .dark .sun{
    display: none;
    transition: all 0.4s ease;
  }
  .dark .darkmode:hover .moon{
    display:none;
    transition: all 0.4s ease;
  }
  .darkmode:hover .sun{
    display:none;
    transition: all 0.4s ease;
  }
  .dark .container{
    transition: all 0.5s ease;
    background-color: rgb(41, 41, 41);
  }
  .container{
    transition: all 0.5s ease;
    /* background-color: whitesmoke; */
  }
  #turn{
    display: none;
  } 
  .darkmode:hover #turn{
    display:block;
    transition: all 0.4s ease;
    font-family: Arial, Helvetica, sans-serif ;
    letter-spacing: 0.1rem;
  } 
  
  
  @media (max-width: 475px) {
    .buttons {
      display: grid;
      text-align: center;
      grid-row-gap: 20px;
      grid-template-columns: auto;
      grid-column-start: auto;
      grid-template-areas:
        "get"
        "tweet";
    }
    .mobile {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .share {
      grid-area: "tweet";
      margin-bottom: 10px;
    }
    .new-quote {
      grid-area: get;
    }
    .joke-text {
      width: 100%;
      padding: 0;
      margin-top: 40px;
      margin-bottom: 30px;
    }
    .joke-box {
      padding: 10px 20px;
    }
    .joke {
      margin: 30px 5px;
    }
  }
  @media (min-width: 650px) {
    .joke-box {
      width: 60vw;
    }
  }
  @media (min-width: 1000px) {
    .joke-box {
      width: 40vw;
    }
  }
  .exceeded #body{
    color: #c5183b;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
  }
